@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;700&display=swap');

$body-font: K2D, sans-serif;
$menu-bg: #ffffff;
$sub-menu-bg: #eeeeee;
$modal-bg: #dddddd;
$blocker-bg: rgba(0,0,0,.5);
$property-header-bg: #dddddd;
$property-header-space: #ffffff;
$property-header-color: #333333;
$preview-shadow:#cccccc;
$interaction-light:#bedaf1;
$interaction-dark:#35638b;
