$menu-bg: #ffffff;
$sub-menu-bg: #eeeeee;
$modal-bg: #dddddd;
$blocker-bg: rgba(0,0,0,.5);
$property-header-bg: #dddddd;
$property-header-space: #ffffff;
$property-header-color: #333333;
$preview-shadow:#cccccc;